@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 1500px;
    min-height: 100vh;
    font-family: 'open-sans', sans-serif;
    margin: 0px auto;
}
/* main style */
.all-heading_2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 50px;
    color: #293039;
}
.all-paragraph {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #51565D;
}
.all-heading_3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 60px;
    color: #F7AB1E;
}
.all-lincs {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #26ABA3;
    text-decoration: none;
}
.all-heading_5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #293039;
}
/* /main style */

/* header */
.main-header {
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-parent {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-navigation {
    width: 1000px;
    height: 100%;
    display: flex;
}

.main-navigation_items {
    width: 800px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-navigation-item {
    list-style: none;
}
.main-navigation-item a {
    text-decoration: none;
    margin: 0px 30px;
    font-size: 20px;
    color: #2F3037;
    font-weight: bold;
    text-transform: capitalize;
}

.number {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-number_icon, .green-number_icon a {
    list-style: none;
    text-decoration: none;
    margin: 0px 5px;
    color: #26ABA3;
}
.green-number_icon a i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #26ABA3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
/* /header */
/* team banner */
.team-banner, .team-banner img {
    width: 100%;
    height: 150px;
}
/* /team banner */
/* team statistics */
.team-statistics {
    width: 100%;
    height: 150px;
    margin: 50px 0px;
    display: flex;
}
.team-statistics_left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-statistics_right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-static {
    width: 300px;
    height: 100px;
    text-align: center;
    margin: 0px 10px;
}
/* /team statistics */
/* team card */
.team-cards {
    width: 100%;
    height: 1500px;
    background-color: #FFFFFF;
}

.team-cards_top, .team-cards_bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
}

.team-top_card-1, .team-top_card-2, .team-top_card-3, .team-bottom_card-1, .team-bottom_card-2, .team-bottom_card-3 {
    width: 450px;
    height: 645px;
    background: #FFFFFF;
    border-radius: 24px;
    text-align: center;
    overflow: hidden;
    margin: 0px 20px;
    box-shadow: 5px 5px 10px;
}
.team-card-icons {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-card-icons a {
    text-decoration: none;
}
.team-card-icons a i {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    background-color: #F7AB1E;
    color: #FFFFFF;
    border: none;
}
/* /team card */

/* footer */
.main-footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #26ABA3;
}

hr {
    width: 1300px;
}

.footer-container {
    width: 90%;
    height: 100%;
}

.footer-middle {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-navigation {
    width: 60%;
    height: 100%;
}
.footer-navigation_item-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-navigation_items, .footer-navigation_items a {
    list-style: none;
    text-decoration: none;
    margin: 0px 20px;
    color: #FFFFFF;
    text-transform: capitalize;
    font-weight: 700;
}

.footer-icon {
    width: 330px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-items, .icon-items a {
    list-style: none;
    text-decoration: none;
    margin: 0px 10px;
}
.icon-items a i {
    width: 35px;
    height: 35px;
    background-color: #F7AB1E;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-end {
    width: 100%;
    height: 50%;
}

.footer-linc {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-linc a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
/* /footer */